{"openapi":"3.1.0","info":{"title":"4차 프로젝트 7팀 API","version":"v1"},"servers":[{"url":"https://api.app1.springservice.shop","description":"PROD"},{"url":"http://localhost:8080","description":"DEV"}],"security":[{"access-token":[]}],"paths":{"/api/posts/{postId}":{"get":{"tags":["게시글 API"],"summary":"게시글 상세 조회","operationId":"getPost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["게시글 API"],"summary":"게시글 수정","operationId":"modifyPost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["게시글 API"],"summary":"게시글 삭제","operationId":"deletePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/member/modify/{category}":{"put":{"tags":["맴버 API"],"summary":"내 정보 수정","operationId":"modifyMyDetails","parameters":[{"name":"category","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/admin/members/block":{"put":{"tags":["어드민 API"],"summary":"회원 정보 변경 - 차단","operationId":"blockMember","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockMemberDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/categories/{categoryId}":{"put":{"tags":["어드민 API"],"summary":"카테고리 수정","operationId":"updateCategory","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["어드민 API"],"summary":"카테고리 삭제","operationId":"deleteCategory","parameters":[{"name":"categoryId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/reissue":{"post":{"tags":["토큰 재발급 API"],"summary":"accessToken 만료 시 refreshToken을 이용하여 accessToken 재발급","operationId":"reissue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/posts":{"get":{"tags":["게시글 API"],"summary":"게시글 목록 조회","operationId":"getPosts","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}},{"name":"searchRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/PostSearchRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["게시글 API"],"summary":"게시글 작성","operationId":"createPost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/posts/{postId}/reports":{"post":{"tags":["게시글 API"],"summary":"게시글 신고","operationId":"reportPost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/posts/{postId}/images":{"post":{"tags":["게시글 이미지 API"],"summary":"게시글 사진 업로드 & 삭제","operationId":"updateImages","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"images":{"type":"array","items":{"type":"string","format":"binary"}},"deleteImageIds":{"type":"array","items":{"type":"integer","format":"int64"}}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/pay":{"post":{"tags":["결제 API"],"summary":"물품 결제 기능","operationId":"paymentsGood","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/pay/withdraw":{"post":{"tags":["결제 API"],"summary":"출금 요청 기능","operationId":"withdrawAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/pay/deposit":{"post":{"tags":["결제 API"],"summary":"충전 요청 기능","operationId":"depositAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepositDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/pay/confirm":{"post":{"tags":["결제 API"],"summary":"물품 구매 확정 기능","operationId":"confirmExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/login":{"post":{"tags":["스웨거 전용 로그인 API"],"summary":"스웨거 전용 로그인","description":"로그인 후 response에 출력되는 access를 authorize에 입력","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/follow":{"get":{"tags":["팔로우 API"],"summary":"팔로잉 목록 조회","description":"sort의 값을 \"id\"로 변경하고 진행","operationId":"getFollows","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["팔로우 API"],"summary":"팔로우","operationId":"createFollow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["팔로우 API"],"summary":"언팔로우","operationId":"unFollow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/chat/rooms":{"post":{"tags":["채팅방 API"],"summary":"채팅방 생성","operationId":"createChatroom","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRoomRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/chat/rooms/{roomId}":{"get":{"tags":["채팅 메시지 API"],"summary":"채팅방 입장 시 채팅 조회","operationId":"enterRoom","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"messageSearchDTO","in":"query","required":true,"schema":{"$ref":"#/components/schemas/MessageSearchDTO"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["채팅 메시지 API"],"summary":"메시지 전송","operationId":"sendMessage","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/register":{"post":{"tags":["맴버 API"],"summary":"회원가입","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/auction/{postId}/bid":{"post":{"tags":["경매 API"],"summary":"입찰 기능","operationId":"bidPrice","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BidDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/categories":{"get":{"tags":["어드민 API"],"summary":"카테고리 정보 조회","operationId":"getCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["어드민 API"],"summary":"카테고리 생성","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account":{"post":{"tags":["계좌 API"],"summary":"계좌 생성","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/posts/{postId}/unlike":{"get":{"tags":["게시글 API"],"summary":"좋아요 취소","operationId":"unlikePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/posts/{postId}/like":{"get":{"tags":["게시글 API"],"summary":"게시글 좋아요","operationId":"likePost","parameters":[{"name":"postId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/member/{memberId}/myposts":{"get":{"tags":["맴버 API"],"operationId":"getMyPosts","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/member/{memberId}/mylikes":{"get":{"tags":["맴버 API"],"operationId":"getMyLikes","parameters":[{"name":"memberId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/member/nickname":{"get":{"tags":["맴버 API"],"summary":"닉네임 회원 검색","operationId":"findMemberByNickname","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/member/mydetails":{"get":{"tags":["맴버 API"],"summary":"내 상세 정보 조회","operationId":"myDetails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/chat/rooms/user":{"get":{"tags":["채팅방 API"],"summary":"채팅방 조회","operationId":"getChatRooms","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/logout":{"get":{"tags":["맴버 API"],"summary":"로그아웃","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/alarms":{"get":{"tags":["알람 API"],"summary":"알람 목록조회","operationId":"getAlarms","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/alarms/create":{"get":{"tags":["알람 API"],"operationId":"createAlarm","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/admin/members":{"get":{"tags":["어드민 API"],"summary":"회원 정보 조회","operationId":"getMembers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/{id}":{"get":{"tags":["계좌 API"],"summary":"보유금 조회","operationId":"getAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/{id}/exchange":{"get":{"tags":["계좌 API"],"summary":"거래 내역 조회","operationId":"getExchangeAccount","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/":{"get":{"tags":["home-controller"],"operationId":"homeView","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/member/withdrawal":{"delete":{"tags":["맴버 API"],"summary":"회원 탈퇴","operationId":"withdrawal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneData"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/chat/rooms/{id}":{"delete":{"tags":["채팅방 API"],"summary":"채팅방 삭제","operationId":"deleteChatroom","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/alarms/{id}":{"delete":{"tags":["알람 API"],"summary":"알람 삭제","operationId":"deleteAlarm","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"components":{"schemas":{"AuctionRequest":{"type":"object","properties":{"startedAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"}},"required":["closedAt","startedAt"]},"PostRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"price":{"type":"integer","format":"int64"},"category":{"type":"string"},"place":{"type":"string"},"saleStatus":{"type":"boolean"},"auctionStatus":{"type":"boolean"},"auctionRequest":{"$ref":"#/components/schemas/AuctionRequest"}},"required":["auctionStatus","category","content","place","price","saleStatus","title"]},"OneData":{"type":"object","properties":{"data":{"type":"string"}},"required":["data"]},"BlockMemberDTO":{"type":"object","properties":{"memberId":{"type":"integer","format":"int64"}}},"CategoryDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"categoryName":{"type":"string"}},"required":["categoryName"]},"ReportRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"},"type":{"type":"string","enum":["FRAUD","ABUSE","ETC"]}},"required":["content","title","type"]},"PaymentDTO":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"}},"required":["postId"]},"WithdrawDTO":{"type":"object","properties":{"price":{"type":"integer","format":"int64"}},"required":["price"]},"DepositDTO":{"type":"object","properties":{"price":{"type":"integer","format":"int64"},"name":{"type":"string"},"bank":{"type":"string"},"impUid":{"type":"string"}},"required":["bank","impUid","name"]},"LoginDto":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"}},"required":["password","username"]},"FollowRequestDto":{"type":"object","properties":{"followingId":{"type":"integer","format":"int64"}},"required":["followingId"]},"ChatRoomRequestDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"}},"required":["userId"]},"MessageDTO":{"type":"object","properties":{"content":{"type":"string"},"roomId":{"type":"integer","format":"int64"}},"required":["content"]},"MemberDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"username":{"type":"string"},"password":{"type":"string"},"password2":{"type":"string"},"nickname":{"type":"string"},"email":{"type":"string"},"phoneNum":{"type":"string"},"role":{"type":"string"},"address":{"type":"string"}},"required":["address","email","name","nickname","password","password2","phoneNum","role","username"]},"BidDTO":{"type":"object","properties":{"price":{"type":"integer","format":"int64"}},"required":["price"]},"AccountDTO":{"type":"object","properties":{"accountNumber":{"type":"string"},"bankName":{"type":"string"}},"required":["accountNumber","bankName"]},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"PostSearchRequest":{"type":"object","properties":{"category":{"type":"string"},"minPrice":{"type":"integer","format":"int64"},"maxPrice":{"type":"integer","format":"int64"},"saleStatus":{"type":"boolean"},"keyword":{"type":"string"},"place":{"type":"string"}}},"MessageSearchDTO":{"type":"object","properties":{"message":{"type":"string"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}},"required":["message","page","size"]}},"securitySchemes":{"access-token":{"type":"apiKey","name":"access","in":"header"}}}}