server:
  forward-headers-strategy: native

spring:
  application:
    name: NBE3-4-4-team7
  profiles:
    include: secret

    active: prod

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  output:
    ansi:
      enabled: always

springdoc:
  swagger-ui:
    persist-authorization: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    org.springframework.security: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG
    com.example: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info


security:
  certified:
    no:
      - /api/auth/login
      - /h2-console
      - /api/auth/register
      - /api/login
      - /actuator/health
      - /
  time:
    access: 3600000
    refresh: 86400000